@use "../../scss/abstracts/" as *;
// Mobile first

.container{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 12vh;
    list-style: none;
    gap: 30px;
}

// @media(min-width: 800px){
//     .container{
//         flex-wrap: wrap;
//     }
// }

