@use "../../scss/abstracts/" as *;
// Mobile first

.container{
    padding-top: 300px;
    max-width: 1300px;
    height: 400px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 100px;
} 

@media(max-width: 500px){
    .container{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;

        height: 600px;
    }
}