@use "../../scss/abstracts/" as *;

.container{
    // position: fixed;
    height: 6.6vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: #1A202C; 

    box-shadow: 0 0 20px 3px;

    a{        
      // position: fixed;
      margin-right: 32px;
    }
    > svg {
        // position: fixed;
        color: white;
        width: 22px;
        height: 22px;
        margin-left: 32px;
        cursor: pointer;
        // z-index: 10009;
      }
}
