@use "../../scss/abstracts/" as *;


.container{
    height: 40vh;
    width: 100vw;
    background-color: $color-secundary-background;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // border-top: 1px solid $color-primary-500;
    box-shadow: 
    inset 5px 5px 5px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(255,255,255,0.1),
    5px 5px 15px rgba(0,0,0,0.3),
    -5px -5px 15px  rgba(255,255,255,0.1);
    ul{
        display: flex;
        li{
            width: 60px;
            height: 60px;
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
        }
        .containerWhatsapp{
            @include effect-style-linear-whatsapp;
        }
        .containerEmail{
            @include effect-style-linear-email;
        }
        .containerLinkedin{
            @include effect-style-linear-linkedin;
        }
    }

    .my{
        display: flex;
        gap: 15px;
        padding: 10px;
    }

    .containerCredits{
        padding-top: 15px;
        padding-bottom: 15px;
        p{

            color: $color-grey-500;
            @include text-style-paragraph-1;
            text-align: center;
        }
    }
}

@media(min-width: 800px){
    .container{
        height: 20vh;
        flex-direction: row;
    }
}